Server/bin/Debug/Server.exe
Server/bin/Debug/Server.pdb
Server/obj/Debug/Server.exe
Server/obj/Debug/Server.pdb
Server/obj/Debug/Server.g.resources
Server/obj/Debug/MainWindow.baml
Server/obj/Debug/MainWindow.g.cs
Server/obj/Debug/MainWindow.baml
Server/obj/Debug/Server.g.resources
Server/obj/Debug/Server.pdb
Client/obj/Debug/Client_MarkupCompile.i.cache