.vs
Server/bin/Debug/Server.exe
Server/bin/Debug/Server.pdb
Server/obj/Debug/Server.exe
Server/obj/Debug/Server.pdb
Server/obj/Debug/Server.g.resources
Server/obj/Debug/MainWindow.baml
Server/obj/Debug/MainWindow.g.cs
Server/obj/Debug/MainWindow.baml
Server/obj/Debug/Server.g.resources
Server/obj/Debug/Server.pdb
Client/obj/Debug/Client_MarkupCompile.i.cache
.vs/Socket_CSharp/v14/.suo
*.exe
Client/bin/Debug/Client.pdb
*.txt
Client/obj/Debug/Client.csproj.GenerateResource.Cache
*.exe
Client/obj/Debug/Client.g.resources
*.pdb
Client/obj/Debug/Client_MarkupCompile.cache
*.lref
*.cache
Client/obj/Debug/MainWindow.baml
Client/obj/Debug/MainWindow.g.cs
Client/obj/Debug/MainWindow.g.i.cs
Server/bin/Debug/Server.exe.config
Server/bin/Debug/Server.vshost.exe.config
Server/obj/Debug/MainWindow.g.i.cs
Server/obj/Debug/Server.Properties.Resources.resources
Server/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Server/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Server/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Client/obj/Debug/MainWindow.baml
Client/obj/Debug/MainWindow.g.cs
Client/obj/Debug/MainWindow.g.i.cs
Server/bin/Debug/Server.vshost.exe.manifest